/*  Small devices    */
@media (max-width:599px) {

  header,.content{
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  .nav > li {
    width: 80%;
    text-align: center;
    margin-bottom: 100px;
  }
}
/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
  @media (min-width:600px) and (max-width: 990px)  {
    .article {
      width: 69%;
      display: flex;
      flex-direction: column;
      } 
  header{
    display: none;
  }
}

h2,aside,li,.slidebox,.content,.article, .poem{
  border-style: solid;
  border-width: thin;
}

header {
  display: flex;
  justify-content: space-between
}


h2 {
  width: 32.7%;
  text-align: center;
  border-width: 2px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  width: 19%;
  text-align: center;
}

.content{
  display: flex;
}

.aside {
  width: 33%
}

.slidebox{
  text-align: center;
}

.article{
  display: flex;
  width:66%
}


.poem{
}





  
